.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;
	width: auto;
	height: auto;
	@include mobile {
		flex-flow: column nowrap;
	}
}

.flex-item {
	flex-grow: 1;
}

.flex-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;
	width: auto;
	height: auto;
	@include tablet {
		flex-flow: column nowrap;
	}
}

.flex-graduated{
	width: 60%;
	margin: auto;
}
.flex-director {
	width: 40%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.flex-director img {
	margin-bottom: 1rem;
}


