.container {
	display: grid;
	grid-template-columns: 1fr .6fr 1fr .6fr .6fr 1fr; 
	grid-template-rows: 1fr 1fr;
	gap: 12px;
	grid-template-areas:
		"header media media media media footer"
		"main main main main main main" ;
	height:100vh;
	justify-items: stretch;
	align-items: stretch;
}

.container .header {
	grid-area: header;
}

.container .media {
	grid-area: media;
}

.container .main {
	grid-area: main;
}

.container .footer {
	grid-area: footer;
}

@media screen and (max-width:834px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"header media media"
		"main main main"
		"footer footer footer" ;
		height:auto;
	}
}

@media screen and (max-width:414px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"header"
		"media"
		"main"
		"main"
		"main"
		"footer" ;
	}
}