video,
img {
	width: auto;
}
video {
	max-width: 80%;
	border-radius: 1.25rem;
}

.logo {
	max-width: 60%;
}

.img--graduated {
	max-width: 200px;
}

.img--director {
	max-width: 180px ;
	background-color: $acent-color;
	border-radius: 50%;
}