:root {
	--font-size-desktop: 1vw;
	--font-size-tablet: 2vw;
	--font-size-movil: 3vw;
}

$font-desktop: var(--font-size-desktop);
$font-tablet: var(--font-size-tablet);
$font-mobile: var(--font-size-movil);

body {
	color: $primary-color;
	font-family: $font-general;
	text-align: center;

}

.container {
	font-size: $font-desktop;
	text-rendering: optimizeLegibility;
	@include tablet {
		font-size: $font-tablet;
	}
	@include mobile {
		font-size: $font-mobile;
	}
}

h1 {
	color: $primary-color;
	font-weight: 400;
	font-size: 1em;
	margin: 0;
}

h2 {
	color: $acent-color;
	font-weight: 700;
	font-size: 2.2em;
	margin: 0;
}

h3 {
	color: $primary-color;
	font-weight: 600;
	font-size: 1.25em;
	margin: 0;
}

h4 {
	color: $primary-color;
	font-weight: 600;
	font-size: 1em;
	margin: 0;
}

h5 {
	color: $primary-color;
	font-weight: 600;
	font-size: .8em;
	margin: 0;
}

h6 {
	color: $second-color;
	font-weight: 400;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .3em;
}

p {
	font-size: .9em;
	font-weight: 400;
	line-height: 1.65em;
}

.quote {
	font-size: .8em;
	color: $acent-color;
	font-style: italic;
	font-weight: 400;
	line-height: 1.1em;
	margin: 0 auto;
	width: 80%;
}

.director {
	font-size: .6em;
	color: $second-color;
	font-weight: 400;
	margin: 0;
}

.tag {
	font-size: .8em;
	color: $acent-color;
	font-weight: 400;
	margin: 0;
}