include ../config/config
doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles-min.css")
		//- Favicon
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		//- Fontawesome
		script(src="https://kit.fontawesome.com/1bd7ea1dfd.js" crossorigin="anonymous")
		title Ceremonia de Fin de Cursos | Generación 2018 • 2019
	body
		.cover#cover
			block cover
		.container
			header.header
				block header
			section.media
				block media
			main.main
				block main
			footer.footer
				block footer
	script(rel="javascript" src="js/scripts-min.js") 