include ../config/config
doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles-min.css")
		script(src="https://kit.fontawesome.com/1bd7ea1dfd.js" crossorigin="anonymous")
		title Document
	body
		.cover#cover
			block cover
		.container
			header.header
				block header
			section.media
				block media
			main.main
				block main
			footer.footer
				block footer
	script(rel="javascript" src="js/scripts-min.js") 