//- Carreras
-
	const carrers = [
		{
			name:'Televisión',
			folder: 'television',
			director: 'Daniel Osorio',
			picdirector: 'daniel-osorio',
			quote: 'Soy Producción',
			female: false,
			graduates: ['Alfredo Chapul']
		},
		{
			name:'Diseño',
			folder: 'diseno',
			director: 'Dante Miranda',
			picdirector: 'dante-miranda',
			quote: 'Soy Multimedia',
			female: false,
			graduates: ['Ariadna Victoria']
		},
		{
			name:'Consultoría',
			folder: 'consultoria',
			director: 'Arantzazu Landero',
			picdirector: 'aranzazu-landero',
			quote: 'Soy Asesoría',
			female: true,
			graduates: ['Metzi Michelle']
		}
	]

