//- Carreras
-
	const television = [
		{
			name:'Televisión y Producción Audiovisual',
			folder: 'television',
			director: 'Daniel Osorio',
			picdirector: 'daniel-osorio',
			quote: 'Has conquistado una meta, ahora ve y conquista tu sueño',
			female: false,
			graduates: [
				'Alfredo Chapul',
				'Yatziel López',
				'Carlos Rosete',
				'Tania Hernández',
				]
		}
	]
-
	const diseno = [
		{
			name:'Diseño y Producción Multimedia',
			folder: 'diseno',
			director: 'Dante Miranda',
			picdirector: 'dante-miranda',
			quote: 'Has conquistado una meta, ahora ve y conquista tu sueño',
			female: false,
			graduates: [
				'Alfredo Chapul',
				'Yatziel López',
				'Carlos Rosete',
				'Tania Hernández',
				]
		}
	]
-
	const consultoria = [
		{
			name:'Consultoría y Asesoría de Imagen',
			folder: 'consultoria',
			director: 'Arantzazu Landero',
			picdirector: 'aranzazu-landero',
			quote: 'Has conquistado una meta, ahora ve y conquista tu sueño',
			female: true,
			graduates: [
				'Alfredo Chapul',
				'Yatziel López',
				'Carlos Rosete',
				'Tania Hernández',
				]
		}
	]