//- Carreras
-
	const carrers = [
		{
			name:'Televisión',
			folder: 'television',
			director: 'Daniel Osorio',
			picdirector: 'daniel-osorio',
			quote: 'Soy Producción',
			female: false,
			graduates: ['Alumno 1','Alumno 2','Alumno 3']
		},
		{
			name:'Diseño',
			folder: 'diseno',
			director: 'Dante Miranda',
			picdirector: 'dante-miranda',
			quote: 'Soy Multimedia',
			female: false,
			graduates: ['Alumno 4','Alumno 5','Alumno 6']
		},
		{
			name:'Consultoría',
			folder: 'consultoria',
			director: 'Arantzazu Landero',
			picdirector: 'aranzazu-landero',
			quote: 'Soy Asesoría',
			female: true,
			graduates: ['Metzi','Alumno 8','Alumno 9']
		}
	]

