extends ../templates/template
include ../mixins/carrer.pug
include ../mixins/logo

block cover
	include ../includes/cover
//- block header
//- 	include ../includes/header
//- block media
//- 	include ../includes/media
//- block main
//- 	include ../includes/carrers
//- block footer
//- 	include ../includes/footer 