extends ../templates/template
	
block header
	//- include ../includes/header
block media
	//- include ../includes/media
block main
	//- include ../includes/carrers
block footer
	//- include ../includes/footer 