div
	span Licenciatura
	h3 Televisión y Producción Audiovisual
	img(src="../assets/images/consultoria/metzi.gif", alt="Foto Egresado")
	h4 Anzueto Camacho Metzi Michelle
	img(src="../assets/images/directores/daniel-osorio.png", alt="Foto Director")
	p “El día que estabas esperando llegó, que tu camino sea exitoso y grandioso”
	h5 Daniel Osorio
	span Director de Carrera 
