.logo
	+logo()
.title
	h1 Ceremonia de Fin de Cursos
	h2 Generación 2018 • 2021
	p Comenzará en:
.counter#counter
.social
	a(href="https://www.asmedia.edu.mx/" target="_blank") 
		i.fas.fa-home
	a(href="https://www.facebook.com/ASMEDIAmexico" target="_blank") 
		i.fab.fa-facebook-f
	a(href="https://www.instagram.com/as_mediacfp/" target="_blank") 
		i.fab.fa-instagram
	a(href="https://www.youtube.com/user/ASMEDIACENTRO" target="_blank") 
		i.fab.fa-youtube
	a(href="https://wa.me/message/TYH3IWMQ237JL1" target="_blank") 
		i.fab.fa-whatsapp