.logo
	+logo
.title
	h1 Ceremonia de Fin de Cursos
	h2 Generación 2018 • 2021
.counter#counter
.social
	a(href="#") 
		i.fas.fa-home
	a(href="#") 
		i.fab.fa-facebook-f
	a(href="#") 
		i.fab.fa-instagram
	a(href="#") 
		i.fab.fa-youtube
	a(href="#") 
		i.fab.fa-whatsapp