div
	img(src="../assets/images/logo/asmedia-vertical.svg", alt="Logo AsMedia C.F.P.")
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, molestiae odio harum libero in.
	button Descargar