div
	h1 Ceremonia Fin de Cursos 
	h2 Generación 2018 • 2021
	span Bienvenidos
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellendus doloribus earum quam libero quos laudantium quaerat esse similique odit vero ratione, modi reprehenderit repellat quas placeat aliquid deserunt ex!